.vscode/**
.vscode-test/**
node_modules/**
out/**
!out/extension.bundle.js
src/**
tsconfig.json
webpack.config.js
yarn.lock
*.vsix
examples/**
images/**
!images/icon.png
test.stdl
tsconfig.tsbuildinfo
